
.bigfont .x-btn-text
{
    font-size: 12px;
}

.bigfont .x-window-header-text
{
    font-size: 12px;
}

.bigfont .x-window-mc
{
    font-size: 12px;
}



.bigfont .x-panel-header-text
{
    font-size: 12px;
}


.bigfont .x-tree-node
{
    font-size: 12px;
}

.bigfont .x-tab-strip span.x-tab-strip-text
{
    font-size: 12px;
}




.bigfont .x-grid3-hd-row td
{
    font-size: 12px;
}

.bigfont .x-grid3-row td, .bigfont .x-grid3-summary-row td
{
    font-size: 12px;
}

.bigfont .x-combo-list-item
{
    font-size: 12px;
}

.bigfont .x-toolbar td
{
    font-size: 12px;
}

.bigfont .x-toolbar div.xtb-text
{
    font-size: 12px;
}



.bigfont .x-small-editor .x-form-field
{
    font-size: 12px;
}


.bigfont .x-fieldset legend
{
    font-size: 12px;
}

.bigfont .x-menu-list-item
{
    font-size: 12px;
}



.bigfont .x-panel-mc
{
    font-size: 12px;
}


.bigfont .x-toolbar td, .bigfont .x-toolbar span, .bigfont .x-toolbar input, .bigfont .x-toolbar div, .bigfont .x-toolbar select, .bigfont .x-toolbar label
{
    font-size: 12px;
}